<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Certificate Of Completion Combo {{ recipient }}</title>
    <style>
        body, html {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        footer {
            width: 100%;
            height: 25px;
            background-image: linear-gradient(to right, #A6A6A600 0%, #A6A6A6FF 15%, #A6A6A6FF 85%, #A6A6A600 100%);
        }
    </style>
</head>
<body>

    <img src="" alt="certificate_banner" id="banner"/>

    <h1 style="text-align: center; font-size: 18pt;">Certificate Of Completion</h1>

    <div id="footer"></div>

</body>
</html>