<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Certificate Of Completion Combo {{ recipient }}</title>
    <style>
        body, html {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    </style>
</head>
<body>

    <img src="" alt="certificate_banner" id="banner"/>

    <h1 style="text-align: center; font-size: 18pt;">Certificate Of Completion</h1>

    <div id="footer"></div>

</body>
</html>