.button {
    border: none;
    border-radius: 0;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 1.17rem;
    padding: 1rem 3rem;
    cursor: pointer;
}
.button:hover {
    box-shadow: 5px 5px 8px var(--text);
}
.button-primary {
    background-color: var(--primary);
    color: var(--text);
}
.button-secondary {
    background-color: var(--secondary);
    color: var(--text);
}
.button-accent {
    background-color: var(--accent);
    color: var(--text);
}